@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using BookStore.Helpers
@Html.Partial("Partial")
    <div>
        <h3>Распродажа книг</h3>
        <table>
            <tr>
                <td><p>Название книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Цена</p></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                </tr>
            }
        </table>
        <br/>
        @{
            string[] cities = new string[] { "Лондон", "Париж", "Берлин" };
         }
        @{
            string[] countries = new string[] { "Великобритания", "Франция", "Россия" };
         }
        <h3>Города</h3>
        @Html.CreateList(cities)
        <br/>
        <h3>Страны</h3>
        @ListHelper.CreateList(Html, countries)
    </div>
@section Footer {
    Все права запрещены. NiBo Corp. 2017.
}